
.login-grid {
margin-left: 20px;
display: grid;
gap: 40px;
grid-template-columns: repeat(2,1fr);

}

.login-input::placeholder {
    font-size: 12px;
    color:rgb(206, 209, 205);
    text-transform: capitalize;
    letter-spacing: 5px;

}


.btn-login {
    background-color: rgb(167, 167, 233);
    border-width: 0px;
    width: 15vw;
    height: 4vh;
    letter-spacing: 11px;
    border-radius: 100px;
    min-width: 100px;
    min-height: 33px;



}

.btn-login:hover {
    background-color: rgb(220, 220, 250);
    border-width: 0px;
    font-weight: 150;
    letter-spacing: 12px;
    border-radius: 100px;


}

.login-head {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%
  }
.login-h1 {
    width: 12vw;
    margin-right: 2vw;
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: rgb(145, 145, 245);
    margin-bottom: 10vh;
    
    

}
.login-h1:hover{
    font-weight: 250;
}





@keyframes fadeInSideRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
        color: rgb(167, 167, 233);

    }
    90%{
        color:rgb(167, 167, 233);
        transform: translateX(-5px);
    }
    100%{
        opacity: 100;
        

    }
}

@keyframes fadeInSideLeft {
    0%{
        transform: translateY(700px);
        opacity: 0;
        color:rgb(167, 167, 233);

    }
    90%{
        transform: translateY(-5px);
        color: rgb(167, 167, 233);
    }
    100%{
        opacity: 100;
        

    }
}

@keyframes subtleFadeInSideLeft {
    0%{
        transform: translateX(-5px);
        opacity: 0;
        color:rgb(167, 167, 233);

    }
    90%{
        transform: translateX(1px);
        color: rgb(233, 233, 240);
    }
    100%{
        opacity: 100;
        

    }
}

@keyframes fadeInPurp {
    0%{
       
        opacity: 0;
        color:rgb(232, 232, 247);

    }
    90%{
        color: rgb(167, 167, 233);
    }
    100%{
        opacity: 100;
        

    }
}